apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: persistent-volume-claim-carmatrix
  namespace: carmatrix
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 8Gi